/*
body color:     background-color: #92dce5; background-image: url("../images/60-lines.png");
nav color: #000000
column/container color: #1c5d99
nav button colors: #81d2c7;
#text color: #f2fff3;

*/
body{
    background-color: #92dce5;
    background-image: url("../images/60-lines.png");
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
#heading{
    background: url("https://images.unsplash.com/photo-1505592225030-dad7a0531844?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80") no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 20pt;
    text-shadow: 2px 4px 4px #373F51;
    margin: 0;
    padding: 5%;
    height: 300px;
}
.container {
  width: 50%;
  margin-left: 5%;
}
#heading h1, #heading h2 {
  margin-top: 20px;
  padding: 0;
}
#login input , #registration input{
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 0px 5px 5px 0px;
}
#login, #registration{
    text-align: left;
    padding: 25px;
}
.subButton{
    border-radius: 10px;
}
.column1 {
    width: 40%;
    float: left;
    vertical-align: top;
    text-align: center;
}
.column1 form{
    margin-left: 25%;
    margin-right: 25%;
}

#adminNav  ul{
    margin: 0;
    padding: 0;
    background-color: #000000;

}
#adminNav button{
    border-radius: 5px;
    width: auto;
    color: #f2fff3;
    height: 25px;
    background: #81d2c7;
    border-color: #81d2c7;
}
#adminNav button:hover{
    background-color:#5ea3a3;
    border-color: #5ea3a3;
}
#adminNav li{
    list-style-type: none;
    float: left;
    color: #f2fff3;
    padding: 10px;
    margin-left: 10px;
}

.mainNav{
    display: none;
}

.mainNav  ul{
    margin: 0;
    padding: 0;
    background-color: #000000;

}
.mainNav button{
    border-radius: 5px;
    width: auto;
    color: #f2fff3;
    height: 25px;
    background: #81d2c7;
    border-color: #81d2c7;
}
.mainNav button:hover{
    background-color:#5ea3a3;
    border-color: #5ea3a3;
}
.mainNav li{
    list-style-type: none;
    float: left;
    color: #f2fff3;
    padding: 10px;
    margin-left: 10px;
}
#searchBar{
    padding: 10px;
    padding-left: 80%;
}
.row {
  text-align: center;
}
.sample {
    padding: 20px;
    margin: 0;
    text-align: left;
}
.buycar {
  margin-bottom: 20px;
  margin-left: 30px;
}
.column{
    max-width: 600px;
    padding-top: 5px;
    margin-top: 5px;
    display: inline-block;
    text-align: left;
    width: 18%;
    background: #1c5d99;
    border-radius: 5px;
}
#carSamples {
    display: none;
    margin: 10px auto;
    text-align: center;
}
#carSamples li{
    padding-bottom: 20px;
    padding-left: 10px;
    list-style-type: none;
}
#carSamples img{
  display: block;
    margin: 0 auto;
    width: 90%;
    height: 300px;
    border: 1px solid black;
}
#carsTable{
    border: 2px solid black;
    border-radius: 2px;
}
#allCars{
    display: none;
    margin: 5% 10% 0% 10%;
    background: #1c5d99;
    border-radius: 5px;
}
.tRows{
    padding: 20px;
    width: 200px;

    border: 2px solid black;
}
/* table, th{
    border-collapse: collapse;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
} */
td{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.information{
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.add_update_delete{
    margin-top: 2%;
    margin-bottom: 2%;
    float: right;
}
#addButton{
    margin-left: 65%;
    margin-top: 2%;
    border-radius: 5px;
}
.addInputs{
    display: block;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 5px;
}
.orders {
    display: none;
    text-align: center;
}
.orders table {
    margin: 0 auto;
}
.orders table td, .orders table th{
  padding: 10px;
}

#adding{
    max-width: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #1c5d99;
    border-radius: 5px;
}

#searchRes{
    display: none;
}
