body{
    color: white;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

nav {
    padding: 20px;
    background: black;
}
ul {
    margin: 0;
}
li {
    text-decoration: none;
    display: inline-block;
}
#jumbotron{
    background: url("../images/Untitled.png")no-repeat center;
    background-size: cover;
    height: 400px;
}
#statement {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}