/* color codes are #373F51, #008DD5, #DFBBB1, #F56476, #E43F6F */

body{
    background-color: #DFBBB1;
}

#heading{
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50pt;
    text-shadow: 2px 2px 4px #008DD5;
    height: 0px;
    margin: 10%;
}

#login input , #registration input{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#login, #registration{
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
}

.subButton{
    margin-left: 65%;
    border-radius: 10px
}

.column {
    float: left;
    width: 50%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.mainNav ul{
    background-color: #373F51;
    padding: 20px;
}

.mainNav button{
    border-radius: 5px;
    width: 100px;
    height: 25px;
}

.mainNav li{
    list-style-type: none;
    float: left;
    color: white;
    padding: 10px;
    margin-left: 10px; 
}

#searchBar{
    padding: 10px;
    padding-left: 80%; 
}

button:hover{
    background-color:#008DD5;
}

#sampleCars{
    margin: 25% 25% 25% 25%;
}